@model IEnumerable<ShopProject_1.Models.Game>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин игр</title>
</head>
<body>
    <h3>Каталог</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Жанр</td>
            <td>Описание</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Category</td>
                <td>@game.Description</td>
                <td>@game.Price</td>
                <td><a href="~/Home/Buy/@game.GameId">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>